<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="http://localhost:911/static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Lao&display=swap" rel="stylesheet">
</head>

<body>

  <form id="login" method="POST">
    <a href="/views/admin/register">ລົງ​ຊື່​ເຂົ້າ​ໃຊ້</a>
    <h2>Login</h2>
    <p>login as admin</p>
    <label for="teller_id">Teller Id</label>
    <input type="text" id="teller_id" name="teller_id" required>

    <label for="password">password</label>
    <input type="password" id="password" name="password" required>

    <center>
      <button type="submit" id="button">Login</button>
    </center>
  </form>

  <div>
  </div>

  <script>
    const myForm = document.getElementById('login');
    myForm.addEventListener('submit', async (event) => {
      try {
        event.preventDefault(); // prevent form from submitting
        const obj = {}
        let fields = ['teller_id', 'password']
        fields.map(field => obj[field] = document.getElementById(field).value)
        let result = await fetch('/api/login', {
          method: 'POST',
          body: JSON.stringify(obj),
          headers: {
            'Content-Type': 'application/json'
          },
        })
        let data = await result.json()

        if (result.status >= 400) throw new Error(data.message, {
          cause: data
        })

        window.location.href = '/admin/views'
      } catch (error) {
        console.log(error)
        console.log(error.cause)
        alert(error.message)
      }
    });
  </script>
</body>

</html>