<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="http://localhost:911/static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Lao&display=swap" rel="stylesheet">
</head>

<body>
  <%- include('../user/partials/nav') %>
  <form id="register" method="POST">
    <h2>register</h2>

    <label for="teller_id">Teller Id</label>
    <input type="text" id="teller_id" name="teller_id" required>

    <label for="username">username</label>
    <input type="text" id="username" name="username" required>

    <label for="password">password</label>
    <input type="password" id="password" name="password" required>

    <label for="password2">confirm password</label>
    <input type="password" id="password2" name="password2" required>

    <center>
      <button type="submit" id="button">register</button>
    </center>
  </form>

  <div>
  </div>

  <script>
    const myForm = document.getElementById('register');
    myForm.addEventListener('submit', async (event) => {
      try {
        event.preventDefault(); // prevent form from submitting
        const obj = {}
        let fields = ['teller_id', 'username', 'password', 'password2']
        fields.map(field => obj[field] = document.getElementById(field).value)
        let result = await fetch('/api/register', {
          method: 'POST',
          body: JSON.stringify(obj),
          headers: {
            'Content-Type': 'application/json'
          },
        })
        let data = await result.json()

        if (result.status >= 400) throw new Error(data.message, {
          cause: data
        })
        window.location.href = '/views'
      } catch (error) {
        console.log(error.cause)
        alert(error.message)
      }
    });
  </script>
</body>

</html>