<!DOCTYPE html>
<html>

<head>
  <style>
    .my-unique-nav {
      background-color: #333;
      color: #fff;
      padding: 10px;
    }

    .my-unique-nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .my-unique-nav li {
      display: inline-block;
      margin-right: 10px;
    }

    .my-unique-nav a {
      color: #fff;
      text-decoration: none;
    }

    .my-unique-nav a:hover {
      background-color: #444;
    }
  </style>
</head>

<body>
  <header>
    <nav class="my-unique-nav">
      <ul>
        <li><a href="/admin/views">Home</a></li>
        <li><a href="/views/admin/register">register</a></li>
        <li><a href="/admin/views/users">user list</a></li>
        <li><a href="/logout">logout</a></li>
      </ul>
    </nav>
  </header>
</body>

</html>